[user]
	name = Atsushi Sato
	email = sato.atsushi570@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[worktree]
	useRelativePaths = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[ghq]
	root = ~/ghq
